.body {
    background-color: #F5F6FA;
    height: 100vh;
    margin: 0;
}

.sidebar {
    background-color: #ffff;
    height: 100%;
    max-width: 250px;
    width: 100%;
}

.servicos ul li.nav-item:hover a.nav-link {
    background-color: #1BAC4B;
    color: #ffffff;
}

.servicos ul li.nav-item a.nav-link {
    color: #000;
}

.icon-sidebar {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

