.carrinho-container {
    height: calc(100vh - 100px); 
    overflow-y: auto;
  }
  
.produto-item {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;

}

.carrinho-foto {
    width: 30%;
    margin-right: 20px;
    margin-left: 20px;
}

.info {
    display: flex;
    flex-direction: column;
}

.carrinho-info {
    display: flex;
    justify-content: space-between;
  }
.separador {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
}

.carrinho-preco {
    color: #1BAC4B;
    font-weight: bold;
    font-size: 13pt;
    margin-bottom: 100%;
}

.quantidade-carrinho {
    position: absolute;
    bottom: 15px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 10px;
    font-size: 18pt;
    margin-left: auto;
}

.quantidade-carrinho button {
    border: none;
    width: 10%;
    height: 20%;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px;
    
}

.quantidade-carrinho span {
    margin-left: 10px;
    margin-right: 1px;
    font-size: 12pt;
    text-align: center;
}

  
.tab-pedido {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px -2px 5px 3px rgba(0, 0, 0, 0.056);
    min-width: 300px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    z-index: 2; 
}

.finalizar-pedido{
    background-color: #000000;
    color: #ffffff;
    font-weight:600;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 1rem;
    margin-inline-end: 0.5rem;
    letter-spacing: 1px;
    border-radius: 5px;
}

.precoTotal {
    color: #1BAC4B;
    font-weight: bold;
    font-size: 16pt;
    display: flex;
    align-items: center; 
    margin-inline: 1rem;
    margin-bottom: 1rem;
}
  

