.icon-categoria {
    width: 1.5em;
    height: 1.5em;
    border-radius: 0;
    border-left: none;
}

.info-preco-admin {
    color: #1BAC4B;
    font-weight: bold;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.produto-card-admin {
    width: 250px; /* Define largura fixa */
    height: 350px; /* Define altura fixa */

    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
.produto-card-admin:hover {
    transform: translateY(-2px) scale(1.0); 
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2); 
}

.icone-filtro {
    border: 2px solid;
}

.text-area {
    resize: none;
}
.content {
    flex-grow: 1;
    padding: 0px; 
    background-color: #F5F6FA;
    min-height: 100vh;
  }
  

.produto-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.produto-admin h4 {
    margin-top: 0.5rem;
}
.img-produto-admin {
    width: 100%;
    height: 150px;
    object-fit: cover; /* Ajusta a imagem ao tamanho do card */
    border-radius: 5px;
  }
.form-control:focus,
.form-control:active {
  box-shadow: none !important;
  border-color: #ced4da !important;
}
.info-nome-admin {
    font-size: 1rem; /* Tamanho base */
    font-weight: bold;
    overflow: hidden; /* Oculta texto excedente */
    text-overflow: ellipsis; /* Adiciona "..." no texto longo */
    white-space: nowrap; /* Evita que o texto quebre linha */
  }