.home-geral {
    min-width: 335px;
    padding-bottom: 7rem;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: #636262;
}

.search-container {
    position: relative;
    width: 100%;
}

.filter-icon {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
}

.filter-icon:hover {
    color: #000;
}

.search-container {
    position: relative;
    width: 100%;
}

.search-input {
    width: 100%;
    padding: 13px;
    flex-grow: 1;
    border: 0.5px solid #dcd7d7;
    font-size: 10pt;
    font-weight: 500;
    border-radius: 15px;
    outline: none;
    padding-left: 10%;
    box-sizing: border-box;
}

.card-button {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
    color: #333;
    border: 0.5px solid #dcd7d7;
    border-radius: 100%;
}

.cart-status {
    background-color: red;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    font-size: 11px;
    font-weight: 600;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
}

.products-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 2%;
    padding-block: 4%;
}

.produto-card {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 410px;
    text-decoration: none;
    color: #000000;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (min-width: 500px) {
    .produto-card {
        width: 300px;
        display: grid;
        grid-template-columns: minmax(140px, auto) 1fr;
        gap: 2px;
    }

    .produto-card img {
        width: 100%;
        height: auto;
        border-radius: 15px;
    }

    .info-produtos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
}

.produto-card img {
    width: auto;
    height: 120px;
    object-fit: contain;
    border-radius: 15px;
    margin-right: 10px;
}

.info-produtos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.produto-nome {
    margin-top: 0;
}

.produto-preco {
    color: #1BAC4B;
    font-weight: bolder;
    font-size: 18pt;
    white-space: nowrap;
}

.produto-foto {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: contain;
}

.button-horarios {
    background-color: transparent;
    border: none;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 1001;
}

.alert .info-button-horarios {
    margin: 0;
    line-height: 0.7;
}

.button-horarios {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: #000000;
}

.category-dropdown {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 100;
  }
  
  .category-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .category-dropdown ul li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .category-dropdown ul li:hover {
    background-color: #f0f0f0;
  }
  
  