.pedidos-body {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #d7d7d730;
    overflow-x: hidden;
}

.content {
    padding-left: 290px;
}

.analise {
    min-height: 100vw;
    background-color: #fdd821d5;
    z-index: 0;
}
.button-info-pedido{
    background-color: transparent;
    border: none;
    font-weight: bold;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.producao {
    min-height: 100vw;
    background-color: #feac5fd1;
}

.finalizado {
    min-height: 100vw;
    background-color: #1bac4bc9;
}

.analise,
.producao,
.finalizado {
    width: calc(33.33% - 30px);

}
.info-produtos-pedido p,
.info-cliente-pedido p,
.info-endereco-pedido p {
    word-wrap: break-word;
}

.titulo {
    color: #ffffff;
    text-align: start;
    margin-top: 5%;
}

.conteudo {
    width: 95%;
    margin-top: 3%;
    border-radius: 10px;
    background-color: #ffffff;
}

.info-button {
    background-color: transparent;
    border: none;
}

.info-cliente-pedido p {
    font-size: 10pt;
    margin-bottom: 0;

}

.info-btn-aceitar {
    border: none;
    width: 90%;
    height: 40px;
    color: white;
    background-color: #5FC381;
    border-radius: 8px;
}

.info-btn-recusar {
    border: none;
    width: 90%;
    height: 40px;
    color: white;
    background-color: #F36363;
    border-radius: 8px;
}