.line-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.text-info-estatisticas {
    flex: 1;
}

.texto-welcome {
    color: #00000069;
}

.filter-period {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.048);
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #E3F2FD;
    border-radius: 8px;
    margin-right: 12px;
}

.details {
    flex-grow: 1;
}

.title {
    display: block;
    font-size: 14px;
    color: #455A64;
    font-weight: 500;
}

.dates {
    display: block;
    font-size: 12px;
    color: #90A4AE;
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.line-2 {
    display: flex;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}

.stat-icon {
    margin-right: 20px;
}

.stat-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.stat-label {
    font-size: 14px;
    color: #888;
}

.stat-sublabel {
    font-size: 12px;
    color: #aaa;
}

.body-estatistica {
    width: 100%;
}

.calendario {
    width: 2px;
}

.chart-container {
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart-header {
    margin-bottom: 20px;
}

.chart-header h3 {
    margin: 0;
}

.filter-dropdown select {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
}

.button-calendar{
    background-color: transparent;
    border: none;
}
.calendario-estatistica{
  border: none;
}